img.seoulIcon {
    position: absolute;
    /* width: 6%;
    height: 15.6%; */
    top: 12%;
    left: 39.5%;
    /* border: 2px solid #000; */
    z-index: 999;
}

img.jeonjuIcon {
    position: absolute;
    top: 40%;
    left: 38%;
    z-index: 999;
}

img.daeguIcon {
    position: absolute;
    top: 42%;
    left: 51%;
    z-index: 999;
}

img.gyeongjuIcon {
    position: absolute;
    top: 41%;
    left: 57%;
    z-index: 999;
}

img.busanIcon {
    position: absolute;
    top: 60%;
    left: 49%;
    z-index: 999;
}

img.jejudoIcon {
    position: absolute;
    top: 73%;
    left: 40%;
    z-index: 999;
}